*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: whitesmoke;
    margin: 0%;
}

.header{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    background-color: rgb(205, 225, 205);
    color: navy;
}

.header h1{
    display: inline-block;
    font-size: 40px;
}

.banner {
height: 900px;
width: 100%;
margin-bottom: 25px;
background-image: 
background-size: cover;
background-position: center;
}

section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-weight: 30px;
}

section ul {
 list-style-type: none;
}

section ul li {
    display: inline-block;
    margin-left: 30px;
}

.about, .work, .contact {
    display: flex;
    align-content: center;
    margin-bottom: 20px;
    padding: 80px;
    height: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: navy;
}

.about h1, .work h1, .contact h1 {
 width: 20%;
 display: flex;
 border-right: 4px navy solid;
 }

.work p {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
display: flex;
flex-direction: row;
padding-left: 80%;
flex-wrap: wrap;
align-content: center;
}

img {
    border: 3px
    border-color whitesmoke;
    border-style: solid;
    object-fit: cover;
    margin: 5px;
    align-content:center;   
}

img {

    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
   }

.about p, .work p, .contact p {
    width: 80%;
    text-align: center;
    padding-left: 50px;
    display: flex;
}



.contact ul {
    display: flex;
    margin-left: 30px;
    flex-direction: row;
    font-style: underline;
    list-style: none;
    justify-content: space-between;
}